.rules-page {
  padding: 20px;
  margin: 20px;

  .table-container {
    border-radius: 3px;
    margin-bottom: 3rem;
    margin-top: 16px;
    padding: 32px 32px 0 32px;
    border: 1px solid #c0bfc0;

    .pagination-container {
      padding: 10px;
    }

    .inner-table-spacing {
      width: 60%;
    }

    .name-column {
      width: 20%;
    }

    .type-column {
      width: 10%;
    }

    .description-column {
      width: 30%;
    }

    .button-spacing {
      width: 7%;
    }
  }
}
